.centered-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

body {
  font-size: 18px;
  font-family: Ubuntu, roboto, noto, segoe ui, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  color: #666;
  background-color: #fff;
  margin-bottom: 2em;
}

body > section {
  max-width: 40em;
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1em;
}

#stamp-field {
  font-family: Ubuntu, roboto, noto, segoe ui, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  border: none;
  font-size: 2em;
  padding-top: 0.4em;
  border-radius: 0.2em;
  text-align: center;
  width: 80vw;
  max-width: 100%;
  padding-bottom: 0.2em;
}

a:link,a:visited {
  color: #333;
  font-weight: 700;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

button {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #fff;
  padding-top: 0.5em;
  border-radius: 1.2em;
  border-width: 2px;
  border-color: #666;
  border-style: solid;
  min-width: 44px;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  pointer-events: initial;
  margin-top: 0.5em;
}

@media all and (max-height: 568px) {
  body {
    font-size: 12px;
  }
}
